@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black outline to text */
.outline-text {
  text-shadow: 
    -1px -1px 0 rgb(235, 79, 18),  
    1px -1px 0 rgb(235, 79, 18),
    -1px 1px 0 rgb(235, 79, 18),
    1px 1px 0 rgb(235, 79, 18);
}

/* WebKit-only outline (for better support) */
@supports (-webkit-text-stroke: 1px rgb(235, 79, 18)) {
  .outline-text {
    -webkit-text-stroke: 1px rgb(235, 79, 18);
  }
}
